{% extends "blog/base.html"%} {%block content%}
<h1>About</h1>
<div class="content-section">
  <div class="media">
    <img class="rounded-circle account-img" src="../../../media/me.png" />
    <div class="media-body">
      <h3 class="account-heading">hi!</h3>
      <p class="text-secondary">
        Dyram is a C.S.E. student with an unfortunate habit of bumping off the
        people around him. He is spontaeneous and funny, but can also be very
        procrastinative and a bit selfish. He is currently at his room studying
        philosophy, politics and economics. He is obsessed with gangnam style.
        Physically, Dyram is in pretty good shape. He is average-height with
        black hair and brown eyes. He has scratch on the eyebrow from Akshara
        when she accidentally (hmmm) smashed the door on him. He grew up in a
        middle class neighbourhood with loving parents. Dyram's best friend is a
        P.P.E. student called Amber. They are inseparable. He mostly hangs
        around with a gang of close friends he was lucky to find while in high
        school.
      </p>
      <h5>Look me up ...</h5>
      <h4>
        <a
          style="text-decoration: none; color: gray;"
          onmouseout="this.style.color='grey'"
          onmouseover="this.style.color='#0e76a8'"
          href="https://www.linkedin.com/in/dyram-meyn-83514a156/"
        >
          <i class="fab fa-linkedin"></i>
        </a>
        &nbsp;&nbsp;
        <a
          style="text-decoration: none; color: gray;"
          onmouseout="this.style.color='grey'"
          onmouseover="this.style.color='black'"
          href="https://github.com/dyram"
        >
          <i class="fab fa-github"></i>
        </a>
        &nbsp;&nbsp;
        <a
          style="text-decoration: none; color: gray;"
          onmouseout="this.style.color='grey'"
          onmouseover="this.style.color='#bc2a8d'"
          href="https://www.instagram.com/diru_m/"
        >
          <i class="fab fa-instagram"></i>
        </a>
        &nbsp;&nbsp;
        <a
          style="text-decoration: none; color: gray;"
          onmouseout="this.style.color='grey'"
          onmouseover="this.style.color='#3b5998'"
          href="https://www.facebook.com/dyram.meyn"
        >
          <i class="fab fa-facebook"></i>
        </a>
        &nbsp;&nbsp;
        <a
          style="text-decoration: none; color: gray;"
          onmouseout="this.style.color='grey'"
          onmouseover="this.style.color='darkorange'"
          href="https://soundcloud.com/dyram-meyn-543157074"
        >
          <i class="fab fa-soundcloud"></i>
        </a>
      </h4>
    </div>
  </div>
</div>

{%endblock content%}
